$primary-minus-2: #a2bdd5;
$primary-minus-1: #5c8bb5;
$primary: #004a8c;
$primary-plus-1: #003666;

$red-minus-1: #f15463;
$red: #ee2e41;
$red-plus-1: #ae2230;

$black: #050517;

$green-minus-1: #a0edba;
$green: #6be393;
$green-plus-1: #4ea66b;

$grey-minus-2: #e5dde9;
$grey-minus-1: #d9ccdf;
$grey: #bcaec2;
$grey-plus-1: #897f8e;
$grey-plus-2: #565059;
