button#start {
  width: 75%;
  justify-self: center;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: 0.1rem solid $primary-plus-1;
  color: $primary-plus-1;
  max-width: 568px;
  border-radius: 0.5rem;
  outline: none;

  &:hover {
    cursor: pointer;
    background-color: $primary-minus-2;
  }
}
