.topBar {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  margin: 1rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;
    color: $grey-plus-2;

    span:hover {
      cursor: pointer;
      color: $grey-plus-1;
    }

    input {
      height: 3rem;
      font-size: 2.5rem;
      width: 25rem;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      max-width: 355px;
      outline-color: $primary;
    }

    .labelAction {
      background-color: transparent;
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
      }

      &#workLabelSubmit {
        border-color: $green-plus-1;
      }

      &#workLabelCancel {
        border-color: $red;
      }
    }
  }

  .settings {
    justify-self: end;

    svg {
      path {
        fill: $grey-plus-2;
      }
      &:hover {
        cursor: pointer;
        path {
          fill: $grey-plus-1;
        }
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .topBar {
    grid-template-columns: 100%;

    h1 {
      justify-self: center;

      input {
        width: 20rem;
        margin: 0 0.5rem;
      }

      .labelAction {
        width: 48%;
      }
    }

    .settings {
      justify-self: center;
      margin: 0 0 2rem;
      transform: scale(1.5);
    }
  }
}
