@import "./partials/colors";
@import "./partials/timer";
@import "./partials/start";
@import "./partials/topBar";
@import "./partials/log";
@import "./partials/modal";
@import "./partials/inputOverrides";
@import "./partials/settings";

body {
  font-family: "Roboto", sans-serif;
  background-color: $grey-minus-2;
  display: grid;
}

hr {
  border: 1px solid $grey-minus-1;
  width: 90%;
}

.hide {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.title {
  justify-self: start;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0 0.2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
